@model IEnumerable<string>
@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <ul>
        @foreach(string s in Model)
        {
            <li>
                @s
            </li>

        }
    </ul>
</body>
</html>


